/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* FULL PAGE BACKGROUND */
.login-wrapper {
  min-height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.85)),
    url("bg.png");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* BLACK LOGIN BOX */
.login-box {
  background: rgba(0, 0, 0, 0.85);
  padding: 40px 35px;
  width: 100%;
  max-width: 380px;
  border-radius: 12px;
  border: 1px solid #222;
  text-align: center;
}

/* TEXT */
.login-box h1 {
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.login-box .sub {
  font-size: 13px;
  color: #aaa;
  margin-bottom: 30px;
}

/* INPUTS */
.login-box input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  background: transparent;
  border: 1px solid #444;
  border-radius: 8px;
  color: #fff;
}

.login-box input:focus {
  outline: none;
  border-color: #b983ff;
}

/* BUTTON */
.login-box button {
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: #fff;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-box button:hover {
  box-shadow: 0 0 20px rgba(185,131,255,0.6);
  transform: scale(1.03);
}

/* MOBILE */
@media (max-width: 480px) {
  .login-box {
    margin: 20px;
    padding: 30px 25px;
  }
}
/* REGISTER LINK */
.register-link {
  margin-top: 20px;
  font-size: 13px;
  color: #aaa;
}

.register-link a {
  color: #b983ff;
  text-decoration: none;
  font-weight: 600;
}

.register-link a:hover {
  text-decoration: underline;
}
.login-box h1,
.login-box p {
  color: #ffffff;        /* pure white */
}
.login-box .sub {
  color: #ffffff;
  opacity: 0.9;
}
.login-box .sub {
  color: #b983ff;   /* violet accent */
  font-weight: 500;
}
.error-msg {
  margin-top: 15px;
  color: #ff4d4d;
  font-size: 13px;
  display: none;
}

